.animalsWrapper {
  padding: 20px;
  background-color: #818af9;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #818af9;
}

.header {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.animalsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.animalCard {
  background: white;
  border-radius: 18px;
  color: rgb(173, 158, 158);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.animalPhoto {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}

.animalInfo h3 {
  font-size: 18px;
  margin: 0;
}

.animalInfo p {
  margin: 2px 0;
  color: #666;
}

.topCard {
  background: #ffffff;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 10px 0 20px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.topCard p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.searchBox {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.searchInput {
  border: none;
  outline: none;
  font-size: 14px;
  color: #444;
  width: 100%;
}
