body {
  font-family: " Roboto", sans-serif;
}

.header {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.animalsWrapperDetail {
  padding: 20px;
  background-color: #818af9;
  min-height: 100vh;

  max-width: 41vh;
  margin: 0 auto;
}

.detailsAnimal {
  max-width: 41vh;
  max-height: 57vh;
  margin: 10 auto;
  background: #fdfdfd;
  padding: 20px;
  border-radius: 20px;
  color: black;
}

.detailsAnimal h2 {
  text-align: center;
}

.photo {
  display: block;
  margin: 0 auto 20px;
}

.detailsAnimal p {
  font-size: 15px;
  margin: 4px 0;
  color: #555;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #818af9;
}
